.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 15px;
}

.card {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(34, 209, 168);
  padding: 2px;
  justify-content: center;
  display: flex;
  width: 40px;
}

.card:hover {
  cursor: pointer;
  background-color: #1fbce3;
  transform: scale(1.1);
  transition: smooth 0.2s;
}

.warning {
  color: red;
  font-size: 25px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

.timer {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.journal {
  font-size: 1.2rem;
  font-weight: 450;
  margin-bottom: 1rem;
  max-width: 520px;
  text-align: center;
}

.hint {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(15, 255, 43);
  padding: 2px;
  justify-content: center;
  display: flex;
  width: 25px;
  height: 20px;
}

.gridHint {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  justify-items: center;
  align-items: baseline;
}

.gridHintHolder {
  display: grid;
  grid-template-columns: repeat(5, 0.2fr);
  grid-gap: 10px;
  justify-items: center;
}

.centerContainer {
  display: flex;
  justify-content: center;
  height: 50px;
}

.hintHolder {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(0, 0, 0);
  padding: 2px;
  justify-content: center;
  display: flex;
  width: 25px;
  height: 1px;
}
