.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.login {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
}

.card {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(34, 209, 168);
  padding: 2px;
  justify-content: center;
  display: flex;
}

.card:hover {
  cursor: pointer;
  background-color: #1fbce3;
  transform: scale(1.1);
  transition: smooth 0.2s;
}

.warning {
  color: red;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.timer {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
